body{
  background-color: black;
}

.app{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.element{
  color: hotpink;
  text-align: center;
  width: 150px;
  height: auto;
  margin-bottom: 15px;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px hotpink;
  border-radius: 8px;
  font-weight: bold;
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  color: hotpink;
}

.modal-jobs{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  z-index: 5;
}

.input-jobs{
  color: black;
  height: 40px;
  border:solid 1px slategray;
  background-color: black;
  color: white;
  margin: 5px;
  text-align: start;
  font-weight: bold;
  border-radius: 8px;
}

.inputSave{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input{
  height: 50px;
  border-style: none;
  background-color: black;
  color: gold;
  font-weight: bold;
  font-size: 25px;
}

.btn-save{
  margin: 25px auto;
  border-style: none;
  width: 150px;
  height: 50px;
  box-shadow: green 0px 0px 4px 3px;
  border-radius: 8px;
  background-color: black;
  color: green;
}

.color{
  color: white;
}

.pink{
  background-color: deeppink;
}

.blue{
  background-color: blue;
}

.skipblue{
  background-color: skyblue;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.jobs{
  display: flex;
  flex-direction: column;
}

.jobs-btn{
  height: 40px;
  border:solid 1px slategray;
  background-color: black;
  color: white;
  margin: 5px;
  text-align: start;
  font-weight: bold;
  border-radius: 8px;
}